<h2> Create New Appearance</h2>
<%= form_for :appearance do |f| %>
  Guest: <%= f.collection_select :guest_id, Guest.all, :id, :name %> <br />
  Episode: <%= f.collection_select :episode_id, Episode.all, :id, :number %><br />
  Rating: <%= f.select :rating, ['1', '2', '3', '4', '5']%><br />
  <%= f.submit %>
<% end %>